body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #1e2e1e; 
  color: #ecf0f1; 
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #1c4e14; 
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 4px solid #074034; 
}

#search,
#categoryfltr {
  margin: 10px;
  padding: 12px;
  width: 350px;
  border: 2px solid #233c2a;
  border-radius: 8px;
  color: #000000; 
}

#search::placeholder,
#categoryfltr::placeholder {
  color: #aaa;
}

#productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.product-item {
  background-color: #184321; 
  border: 1px solid #52815c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  margin: 15px;
  padding: 20px;
  width: 300px;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.product-item:hover {
  transform: scale(1.04); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

#productDetail {
  margin: 20px;
}

#pagination {
  margin: 20px;
  text-align: center;
}

.view-details {
  background-color: #156252; 
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }

.view-details:hover {
  background-color: #279555; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.product-item img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

@media (max-width: 600px) {
  #productList {
    flex-direction: column;
  }

  .product-item {
    width: 100%;
  }

  #search,
  #categoryfltr {
    width: 100%;
    order: 2; 
  }

  #productList,
  #pagination {
    order: 1; 
  }

  #productDetail {
    margin: 20px;
    text-align: center;
  }
}